@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  scroll-behavior: smooth;
}

.cursor {
  width: 20px;
  height: 20px;
  background-color: #fff;
  position: absolute;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  transition: all 0.3s ease;
  transition-property: background, transform;
  transform-origin: 150% 150%;
  z-index: 20000;
}

/* width */
::-webkit-scrollbar {
  width: 7.2px;
}

/* Track */
::-webkit-scrollbar-track {
  @apply bg-gray-900;
}

/* Handle */
::-webkit-scrollbar-thumb {
  @apply bg-gray-50 rounded-md;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  @apply bg-gray-400;
}
